<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="get-feature-info-geowidget" version="0.1.1">
  <details>
    <title>Get Feature Info</title>
    <email>jmostazo@fi.upm.es</email>
    <image>img/get_feature_widget.png</image>
    <smartphoneimage>img/get_feature_widget.png</smartphoneimage>
    <description>This widget performs a getFeatureInfo operation over WMS layers. GetFeatureInfo provides feature information by identifying a point on a map based on its pixel location. The GetFeatureInfo request embeds many of the parameters required in the GetMap request along with parameters specific to querying layers.</description>
    <doc>http://hercules.ls.fi.upm.es/public/conwet/ogf.html#getfeature-widget</doc>
    <authors>jmostazo</authors>
  </details>
  <wiring>
    <outputendpoint name="link_url_event" type="text" label="Link url" friendcode="url"/>
    <inputendpoint name="feature_info_slot" type="text" label="Feature info" friendcode="feature_info"/>
  </wiring>
  <contents src="index.html"/>
  <rendering height="22" width="4"/>
</widget>
